<h1> Edit Chore <%= link_to "Destroy", chore_path(@chore), data: {
    turbo_method: "delete",
    turbo_confirm: "Are you sure?"
}, class: 'btn -danger' %></h1>
<div>
  <%= render "form", chore:@chore %>
</div>
